# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
df_path = ('/content/drive/MyDrive/Colab Notebooks/dataset_part_2.csv')
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios).
nombreBD = 'PedroJesusRoman'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.211.139/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL",engine)

In [ ]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query,  engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """  SELECT DISTINCT(LaunchSite)
             FROM SPACEXTBL  """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
#Rellena la variable query con tu consulta
query = """
    SELECT *
    FROM SPACEXTBL
    WHERE LaunchSite LIKE 'CCS%'
    LIMIT 5
"""
df = pd.read_sql(query, con=engine)

# Muestra el DataFrame con los 5 lanzamientos
print(df)

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """
    SELECT SUM(PayloadMass) AS Masa_Total
    FROM SPACEXTBL
    WHERE Customers = 'NASA (CRS)'
"""

# Ejecuta la consulta y carga el resultado en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra la masa total transportada por lanzamientos de NASA (CRS)
print("Masa total transportada por lanzamientos de NASA (CRS):")
print(df)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """
    SELECT AVG(PayloadMass) AS Masa_Media
    FROM SPACEXTBL
    WHERE Serial LIKE 'B1%'
"""

# Ejecuta la consulta y carga el resultado en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra la masa media transportada por lanzamientos con serie que comienza por 'B1'
print("Masa media transportada por lanzamientos con serie que comienza por 'B1':")
print(df)

Masa media transportada por lanzamientos con serie que comienza por 'B1':
    Masa_Media
0  6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """
    SELECT MIN(Date) AS Fecha_Primer_Aterrizaje_RTLS
    FROM SPACEXTBL
    WHERE Mission_Outcome = True
    AND Class = 'TRUE'
"""

# Ejecuta la consulta y carga el resultado en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra la fecha del primer aterrizaje exitoso sobre terreno (TRUE RTLS)
print("Fecha del primer aterrizaje exitoso sobre terreno (TRUE RTLS):")
print(df)

Fecha del primer aterrizaje exitoso sobre terreno (TRUE RTLS):
  Fecha_Primer_Aterrizaje_RTLS
0                   2010-06-04

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """
    SELECT DISTINCT Serial
    FROM SPACEXTBL
    WHERE LandingOutcome = 'TRUE ASDS'
    AND PayloadMass BETWEEN 4000 AND 6000
"""

# Ejecuta la consulta y carga los resultados en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra las series de cohetes que cumplen con los criterios
print("Series de cohetes que aterrizaron sobre portaviones (TRUE ASDS) con masa entre 4000 y 6000:")
print(df)

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query_exitosos = """
    SELECT COUNT(*) AS Lanzamientos_Exitosos
    FROM SPACEXTBL
    WHERE Class = True
"""

# Consulta SQL para contar el número de lanzamientos fallidos
query_fallidos = """
    SELECT COUNT(*) AS Lanzamientos_Fallidos
    FROM SPACEXTBL
    WHERE Class = False
"""

# Ejecuta las consultas y carga los resultados en DataFrames
df_exitosos = pd.read_sql(query_exitosos, con=engine)
df_fallidos = pd.read_sql(query_fallidos, con=engine)

# Muestra el número de lanzamientos exitosos y fallidos
print("Número de lanzamientos exitosos:", df_exitosos['Lanzamientos_Exitosos'][0])
print("Número de lanzamientos fallidos:", df_fallidos['Lanzamientos_Fallidos'][0])

Número de lanzamientos exitosos: 60
Número de lanzamientos fallidos: 30

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query_max_mass = """
    SELECT MAX(PayloadMass) AS Masa_Maxima
    FROM SPACEXTBL
"""

# Ejecuta la consulta para encontrar la masa máxima
df_max_mass = pd.read_sql(query_max_mass, con=engine)

# Obtiene el valor de la masa máxima
masa_maxima = df_max_mass['Masa_Maxima'][0]

# Consulta SQL para obtener las series de cohetes que transportaron la masa máxima
query_series_max_mass = """
    SELECT DISTINCT Serial
    FROM SPACEXTBL
    WHERE PayloadMass = {}
""".format(masa_maxima)

# Ejecuta la consulta y carga los resultados en un DataFrame
df_series_max_mass = pd.read_sql(query_series_max_mass, con=engine)

# Muestra las series de cohetes que transportaron la masa máxima
print("Series de cohetes que transportaron la masa máxima:")
print(df_series_max_mass)

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """
    SELECT LandingOutcome, Serial, LaunchSite
    FROM SPACEXTBL
    WHERE (Class = False OR Class IS NULL)
    AND Date = 2015
"""

# Ejecuta la consulta y carga los resultados en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra los resultados del aterrizaje, la serie del cohete y las plataformas de lanzamiento
print("Resultados del aterrizaje, serie del cohete y plataformas de lanzamiento en 2015:")
print(df)

Resultados del aterrizaje, serie del cohete y plataformas de lanzamiento en 2015:
  LandingOutcome Serial    LaunchSite
0     False ASDS  B1012  CCSFS SLC 40
1     False ASDS  B1015  CCSFS SLC 40
2      None None  B1016  CCSFS SLC 40
3      None ASDS  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """
    SELECT LandingOutcome, COUNT(*) AS CountLaunches
    FROM SPACEXTBL
    WHERE Date >= '2010-06-04' AND Date <= '2017-03-20'
    GROUP BY LandingOutcome
    ORDER BY CountLaunches DESC
"""

# Ejecuta la consulta y carga los resultados en un DataFrame
df = pd.read_sql(query, con=engine)

# Muestra los resultados y su frecuencia en orden descendente

print(df)

  LandingOutcome  CountLaunches
0      None None              9
1      True ASDS              5
2     False ASDS              4
3     True Ocean              3
4      True RTLS              3
5    False Ocean              2
6      None ASDS              2